.addresses {border-color: #585c42;}

.ZmPrefView {background-color:#ffffff;}

.LIghtWindowInnerContainer {background-color: #fff;}

.ZmContactView {background-color: #fff;}

.DwtButton-activated {background-color: #d6d6b7;}

.DwtTreeItem-selected {background-color: #eee;}

.DwtMenuItem {background-color: #e1e0cd;}

.ZmApptComposeView {background-color:#fff;}

.DwtToolbarButton-activated {background-color: #fcfbe7;}

.ZmPicker {background-color: #dfe3ca;}

.infoBox {background-color: #e5f1a8; border-color: #960c70;}

.infoTitle {border-color:#bbc38e;}

.Row-selected {background-color:#d6d6b7;}

/*************[General]******************/
body{
	background-color: #c4caa2;
}
#skin_outer{
	background-color: #BBC38E;
}
#skin_tr_main,#skin_tr_status {background-color: #e1e0cd;}
.GrayBg{
	background: #efecde;
}
.ImgAppChiclet {background-color: #d6d6b7;}
.selected, .Row-selected, .Row-selected-dragProxy, .Row-selected-disabled{
	background-color: #f3efc3 !important;
	border-top: #f3efc3 !important;
}

.ZButtonBorder,.DwtButton{
	-moz-border-bottom-colors:#585c42;
	-moz-border-left-colors:#585c42;
	-moz-border-radius-bottomleft:1px;
	-moz-border-radius-bottomright:1px;
	-moz-border-radius-topleft:1px;
	-moz-border-radius-topright:1px;
	-moz-border-right-colors:#585c42;
	-moz-border-top-colors:#585c42;
	background-color:#efecde;
	border: 1px solid;
}

.ZHover .ZButtonBorder,.DwtButton-hover{
	-moz-border-bottom-colors:#585c42;
	-moz-border-left-colors:#585c42;
	-moz-border-radius-bottomleft:1px;
	-moz-border-radius-bottomright:1px;
	-moz-border-radius-topleft:1px;
	-moz-border-radius-topright:1px;
	-moz-border-right-colors:#585c42;
	-moz-border-top-colors:#585c42;
	background: #d6d6b7;
}

.ZHover .ZToolbarButtonBorder{
	-moz-border-bottom-colors:#585c42;
	-moz-border-left-colors:#585c42;
	-moz-border-radius-bottomleft:1px;
	-moz-border-radius-bottomright:1px;
	-moz-border-radius-topleft:1px;
	-moz-border-radius-topright:1px;
	-moz-border-right-colors:#585c42;
	-moz-border-top-colors:#585c42;
	background: #d6d6b7;
}

.ZFocused .ZToolbarButtonBorder,.DwtButton-active{
	-moz-border-bottom-colors:#585c42;
	-moz-border-left-colors:#585c42;
	-moz-border-radius-bottomleft:1px;
	-moz-border-radius-bottomright:1px;
	-moz-border-radius-topleft:1px;
	-moz-border-radius-topright:1px;
	-moz-border-right-colors:#585c42;
	-moz-border-top-colors:#585c42;
	background: #efecde;
}

.DwtButton-active{
	background: #f3efc3;
}

.DwtMenu, .DwtSelectMenu, .ActionMenu{
	-moz-border-bottom-colors:#585c42;
	-moz-border-left-colors:#585c42;
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	-moz-border-right-colors:#585c42;
	-moz-border-top-colors:#585c42;
	background-color:#efecde;
	border:2px solid;
	padding:6px;
}

.ZTabBar{
	background: #efecde;
}

/***********[Splash]*************/
#skin_container_splash_screen{
	background-color: #c4caa2;
}

#ZLoginPanel{
	-moz-border-bottom-colors:#585c42;
	-moz-border-left-colors:#585c42;
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	-moz-border-right-colors:#585c42;
	-moz-border-top-colors:#585c42;
	background-color:#f4f2e6;
	border:2px solid;
	overflow:visible;
	padding:6px;
	position:relative;
	width:500px;
}

/*********** [ Header ] ***************/
#skin_container_search{
	-moz-border-bottom-colors:#585c42;
	-moz-border-left-colors:#585c42;
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	-moz-border-right-colors:#585c42;
	-moz-border-top-colors:#585c42;
	background-color:#efecde;
	border:1px solid;
	height:32px;
	padding:3px 4px 4px;
}

/*********** [ Tab Bar]**************/
#skin_container_current_app, #skin_container_app_top_toolbar, #skin_container_app_toolbar_sep{
	-moz-border-bottom-colors:#AAA796 rgb(242, 239, 225);
	-moz-border-left-colors:#585C42 rgb(244, 242, 230);
	-moz-border-right-colors:#6A6E4F rgb(242, 239, 225);
	-moz-border-top-colors:#585C42 rgb(244, 242, 230);
	background-color:#EFECDE;
	border-color:#F2EFE1;
	border-style:solid;
	border-width:2px 0px;
}

#skin_border_app_chooser{
	-moz-border-radius-bottomleft:0pt;
	-moz-border-radius-bottomright:0pt;
	-moz-border-radius-topleft:0px;
	-moz-border-radius-topright:0px;
	background-color: transparent;
	border-color: none;
	border-style:solid;
	border-width:0pt;
	height:30px;
}

#skin_container_tree_top{
	-moz-border-radius-bottomleft:0pt;
	-moz-border-radius-bottomright:0pt;
	-moz-border-radius-topleft:0;
	-moz-border-radius-topright:0;
	background-color:#BBC38E;
	border-color:#A7A194;
	border-style:solid;
	border-width:0;
	height:35px;
}

#skin_tr_main, #skin_tr_status{
	background-color: transparent;
}

/*********** [ Tab Border]**************/
.ZAppTabBorder{
	-moz-border-bottom-colors:#585c42;
	-moz-border-left-colors:#585c42;
	-moz-border-radius-bottomleft:1px;
	-moz-border-radius-bottomright:1px;
	-moz-border-radius-topleft:1px;
	-moz-border-radius-topright:1px;
	-moz-border-right-colors:#585c42;
	-moz-border-top-colors:#585c42;
	border-color:#EFECDE rgb(106, 110, 79) rgb(106, 110, 79) rgb(239, 236, 222);
	border-style:solid;
	border-width:1px 1px 0px;
	cursor:pointer;
}


.ZHover .ZAppTabBorder{
	-moz-border-bottom-colors:#585c42;
	-moz-border-left-colors:#585c42;
	-moz-border-right-colors:#585c42;
	-moz-border-top-colors:#585c42;
	background-color:#EFECDE;
	border-color:-moz-use-text-color;
	border-style:solid;
	border-width:1px 1px 0pt;
}

.ZAppTabTable{
	background-color: #D6D6B7;
}

.ZSelected{

}

.ZSelected .ZAppTabBorder {
	-moz-border-bottom-colors:#585c42;
	-moz-border-left-colors:#585c42;
	-moz-border-radius-bottomleft:0pt;
	-moz-border-radius-bottomright:0pt;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	-moz-border-right-colors:#585c42;
	-moz-border-top-colors:#585c42;
	background-color:#EFECDE;
	border-color:#F2EFE1;
	border-style:solid;
	border-width:1px 1px 0px;
	margin-top:2px;
	padding:0;
}

/**************[ Sidebar ]*****************/

.overviewHeader{
	background: #efecde;
}

.DwtCalendarTitlebar{
	background: #efecde;
}

/***************[ Panel Splitter ]************/
.DwtHorizontalSash,.DwtVerticalSash{
	background: #BBC38E;
}

/***************[ Mail ]*******************/
.ZmComposeView{
	background: #c4caa2;
}

.DwtListView-Column{
	background: #efecde;
}

.ZmMailMsgView .MsgHeaderTable{
	background: #efecde;
}

/***************[ Address Book ]************/
.ZmContactSplitView{
	background: #c4caa2;
}

/***************[ Calendar ]****************/
.calendar_heading{
	background: #efecde;
}

.calendar_month_header_month{
	background: #efecde;
}
.calendar_month_header_cells_text{
	background: #efecde;
}
.calendar_view_table{
	background: #c4caa2;
}
.calendar_month_body{
	background: #fff;
}

.DwtCalendarDow {background-color: #bbc38e; color: #fff;}

.DwtCalendarDay-today {border-color: #85360f; color: #85360f;}
/**************** [ IM ] ******************/
.ZmChatMultiWindowView{
	background: #c4caa2;
}

.ZmChatTabs-TabBar .ZmChatTabs-Tab-Active{
	-moz-border-bottom-colors:#585c42;
	-moz-border-left-colors:#585c42;
	-moz-border-radius-bottomleft:2px;
	-moz-border-radius-bottomright:2px;
	-moz-border-radius-topleft:2px;
	-moz-border-radius-topright:2px;
	-moz-border-right-colors:#585c42;
	-moz-border-top-colors:#585c42;
	background-color:#efecde;
	border-color:-moz-use-text-color;
	border-style:none solid solid;
	border-width:medium 2px 2px;
	float:left;
	height:auto;
	margin-top:-1px;
	padding:2px 4px 3px;
}

.DwtResizableWindow-focused .DwtResizableWindow-topcont{
	-moz-border-bottom-colors:#585c42;
	-moz-border-left-colors:#585c42;
	-moz-border-radius-bottomleft:2px;
	-moz-border-radius-bottomright:2px;
	-moz-border-radius-topleft:2px;
	-moz-border-radius-topright:2px;
	-moz-border-right-colors:#585c42;
	-moz-border-top-colors:#585c42;
	background: #efecde;
	border:2px solid;
	padding:0pt;
}

#skin_td_switch_offline{
	display:none;
}