;
; PSU Webapp configuration.
;

api_url = "https://api.plymouth.edu/0.1"
app_url = "https://www.plymouth.edu/app"
webapp_url = "https://www.plymouth.edu/webapp"
tmp_dir = "/web/temp"
uploads_dir = "/web/uploads"

[calllog]
base_url = "https://www.plymouth.edu/webapp/calllog"

[teacher-cert]
base_url = "https://www.plymouth.edu/webapp/teacher-cert"

[google]
api_key = YOUR_KEY

[smugmug]
email = YOUR_EMAIL
password = YOUR_BASE64_PASSWORD
api_key = YOUR_API_KEY

[statsd]
host = "statsd.plymouth.edu"
port = "8125"
enabled = 0
