;
; PSU Webapp configuration.
;

api_url = "https://api.plymouth.edu/0.1"
app_url = "https://www.plymouth.edu/app"
webapp_url = "https://www.plymouth.edu/webapp"
tmp_dir = "/web/temp"
uploads_dir = "/web/uploads"

;[environment]

; development or production server
;dev = 1

; settings used by PSU::curl()
;[curl]
;ssl_verifypeer = 1

;[cdn]
;enabled = 1

;[psuperson]
;overrides = "{\"publicname\":\"backendname\",\"othername\":\"unknownname\"}"

[calllog]
base_url = "https://www.plymouth.edu/webapp/calllog"
api_appid = "YOUR_APPID"
api_key = "YOUR_KEY"

[teacher-cert]
base_url = "https://www.plymouth.edu/webapp/teacher-cert"
api_appid = "YOUR_KEY"
api_key = "YOUR_KEY"

[google]
api_key = "YOUR_KEY"

[google]
api_key = "YOUR_KEY"

[smugmug]
email = "YOUR_EMAIL"
password = "YOUR_BASE64_PASSWORD"
api_key = "YOUR_API_KEY"

;[robot]
;host = "ROBOT_IP"
;port = "ROBOT_PORT"

[statsd]
host = "statsd.plymouth.edu"
port = "8125"
enabled = 0

[session]
; See PSU::session_start().
;force_ssl = 1

; Defaults to value from php.ini. See PSU::session_start().
;cookie_domain = "plymouth.edu"
