*{
	overflow:visible !important; 
}
body,
body.webapp-dev,
body.webapp-prod{
	background: #fff;
	background-image: none;
	overflow-y: visible;
	padding-top: 0;
}
#webapp-page{background-image: none;}
#webapp-head,
#webapp-nav,
#webapp-apres-foot,
#webapp-final{
	display: none;
}

.no-print{display: none;}
.print_only{display: block;}

.box{
	background: none;
	border: none;
}

.border-box > .title{border: none;}
.border-box > .title, 
.border-box > .subheader, 
.border-box > .body, 
.border-box > .foot{
	border: none;
}

#webapp-head,
#webapp-nav{
	margin: 0;
}

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8,
.grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 {
	float: none;
	width: 100%;
}
