/* PSUMobile Font
*
* All Assets are owned by Drew Wilson and are protected by Copyright law, and are bound by the laws 
* in force in the United States of America and California. No title to or intellectual property rights 
* to the Assets are transferred to you. Drew Wilson retains all rights not expressly granted by this 
* License Agreement. Trademarks shall be used in accordance with accepted trademark practice, including 
* identification of trademark owner's name. Trademarks can only be used to identify printed or electronic 
* output produced by the Assets. Such use of any trademark does not give you any rights of ownership in 
* that trademark. Except as stated above, this License Agreement does not grant you any intellectual 
* property rights in the Assets. Unpublished rights are reserved. You must leave all copyright notices 
* and text intact and unaltered the Assets. This includes Font and CSS files.
*/
@font-face {
  font-family: 'PSUIcons01';
  src: url('/assets/fonts/psuicons01.eot');
  src: url('/assets/fonts/psuicons01.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/psuicons01.woff') format('woff'), url('/assets/fonts/psuicons01.svg#UntitledRegular') format('svg'), url('/assets/fonts/psuicons01.ttf') format('truetype'), url('/assets/fonts/psuicons01.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PSUIconsAPE';
  src: url('/assets/fonts/psuicons-ape.eot');
  src: url('/assets/fonts/psuicons-ape.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/psuicons-ape.woff') format('woff'), url('/assets/fonts/psuicons-ape.svg#UntitledRegular') format('svg'), url('/assets/fonts/psuicons-ape.ttf') format('truetype'), url('/assets/fonts/psuicons-ape.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/*  
 * Font Awesome
 * the iconic font designed for use with Twitter Bootstrap
 * -------------------------------------------------------
 * The full suite of pictographic icons, examples, and documentation
 * can be found at: http://fortawesome.github.com/Font-Awesome/
 *
 * License
 * -------------------------------------------------------
 * The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
 * http://creativecommons.org/licenses/by/3.0/ A mention of
 * 'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
 * source code is considered acceptable attribution (most common on the web).
 * If human readable source code is not available to the end user, a mention in
 * an 'About' or 'Credits' screen is considered acceptable (most common in desktop
 * or mobile software).
 *
 * Contact
 * -------------------------------------------------------
 * Email: dave@davegandy.com
 * Twitter: http://twitter.com/fortaweso_me
 * Work: http://lemonwi.se co-founder 
 */
@font-face {
  font-family: 'FontAwesome';
  src: url('/assets/fonts/fontawesome-webfont.eot');
  src: url('/assets/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/fontawesome-webfont.woff') format('woff'), url('/assets/fonts/fontawesome-webfont.svg#UntitledRegular') format('svg'), url('/assets/fonts/fontawesome-webfont.ttf') format('truetype'), url('/assets/fonts/fontawesome-webfont.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.psu-icon {
  box-sizing: border-box;
  color: #555;
  display: inline-block;
  font-style: normal;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
  vertical-align: middle;
}
.psu-icon.boxed:hover, .psu-icon:hover {
  color: #000;
}
.psu-icon span {
  position: relative;
  z-index: 5;
  display: block;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.psu-icon.flat, .psu-icon.flat span {
  color: inherit;
  text-shadow: none;
}
.psu-icon.boxed {
  background: #ffffff;
  /* Old browsers */

  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* IE10+ */

  background: linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
  /* IE6-9 */

  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -o-transition: all .1s linear;
}
.psu-icon.boxed span {
  background-image: url(images/icon-bg.png);
  background-position: center center;
  border: 3px solid rgba(100, 100, 100, 0.1);
}
.psu-icon .sub-value, .psu-icon .sub-icon {
  line-height: 0.9em;
  font-size: 60%;
  position: absolute;
}
.psu-icon .sub-icon {
  background: rgba(255, 255, 255, 0.8);
  color: #555;
  border-radius: 0.3em;
  padding: 0 10%;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
  bottom: 2%;
  right: 10%;
}
.psu-icon .sub-value {
  background: rgba(85, 85, 85, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #eee;
  background: rgba(255, 255, 255, 0.8);
  color: #555;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18%;
  padding: 5% 12%;
  border-radius: 0.3em;
  text-shadow: none;
  bottom: 10%;
  right: 10%;
}
.psu-icon .sub-value.important {
  background: rgba(127, 0, 0, 0.9);
  border: none;
  color: #eee;
}
.psu-icon .sub-value.info {
  background: rgba(49, 59, 160, 0.9);
  border: none;
  color: #eee;
}
.psu-icon.tiny {
  width: 16px;
  height: 16px;
  font-size: 16px;
  border-radius: 3px;
  line-height: 16px;
}
.psu-icon.tiny.boxed {
  font-size: 12px;
}
.psu-icon.tiny.boxed span {
  line-height: 12px;
  border-radius: 3px;
  border-width: 2px;
}
.psu-icon.small {
  width: 22px;
  height: 22px;
  font-size: 20px;
  line-height: 16px;
  border-radius: 5px;
}
.psu-icon.small.boxed span {
  border-radius: 5px;
  border-width: 2px;
}
.psu-icon.medium {
  line-height: 26px;
  width: 32px;
  height: 32px;
  font-size: 26px;
  border-radius: 5px;
}
.psu-icon.medium.boxed span {
  border-radius: 5px;
}
.psu-icon.large {
  line-height: 46px;
  width: 50px;
  height: 50px;
  font-size: 46px;
  border-radius: 8px;
}
.psu-icon.large.boxed span {
  border-radius: 8px;
}
.psu-icon.beefy {
  line-height: 60px;
  width: 64px;
  height: 64px;
  font-size: 60px;
  border-radius: 8px;
}
.psu-icon.beefy.boxed span {
  border-radius: 8px;
}
.psu-icon.massive {
  line-height: 76px;
  width: 80px;
  height: 80px;
  font-size: 70px;
  border-radius: 8px;
}
.psu-icon.massive.boxed span {
  border-radius: 8px;
}
.psu-icon.ridiculous {
  line-height: 96px;
  width: 100px;
  height: 100px;
  font-size: 95px;
  border-radius: 10px;
}
.psu-icon.ridiculous.boxed span {
  border-radius: 10px;
}
.icon-bus,
.icon-clock,
.icon-clusters,
.icon-dining,
.icon-directory,
.icon-dots,
.icon-facebook-item,
.icon-feedback,
.icon-info,
.icon-map,
.icon-events,
.icon-movies,
.icon-mymail,
.icon-news,
.icon-news-item,
.icon-parking,
.icon-phonebook,
.icon-quota,
.icon-schedule,
.icon-secure,
.icon-twitter-item {
  font-family: 'PSUIcons01';
  font-weight: normal;
}
.icon-bus:before {
  content: "B";
}
.icon-clock:before {
  content: "n";
}
.icon-clusters:before {
  content: "C";
}
.icon-dining:before {
  content: "D";
}
.icon-directory:before {
  content: "A";
}
.icon-dots:before {
  content: ".";
}
.icon-facebook-item:before {
  content: "0";
}
.icon-feedback:before {
  content: "F";
}
.icon-info:before {
  content: "i";
}
.icon-map:before {
  content: "M";
}
.icon-events:before {
  content: "e";
}
.icon-movies:before {
  content: "T";
}
.icon-mymail:before {
  content: "E";
}
.icon-news:before {
  content: "N";
}
.icon-news-item:before {
  content: "2";
}
.icon-parking:before {
  content: "P";
}
.icon-phonebook:before {
  content: "A";
}
.icon-quota:before {
  content: "Q";
}
.icon-schedule:before {
  content: "c";
}
.icon-secure:before {
  content: "!";
}
.icon-twitter-item:before {
  content: "1";
}
.icon-ape-access,
.icon-ape-advancement,
.icon-ape-banner-security,
.icon-ape-family,
.icon-ape-history,
.icon-ape-home,
.icon-ape-hr,
.icon-ape-identity,
.icon-ape-lock,
.icon-ape-mail,
.icon-ape-na,
.icon-ape-no,
.icon-ape-password,
.icon-ape-pending-creation,
.icon-ape-pending-deletion,
.icon-ape-person,
.icon-ape-print,
.icon-ape-student,
.icon-ape-sync,
.icon-ape-yes {
  font-family: 'PSUIconsAPE';
  font-weight: normal;
}
.icon-ape-access:before {
  content: "a";
}
.icon-ape-advancement:before {
  content: "A";
}
.icon-ape-banner-security:before {
  content: "b";
}
.icon-ape-family:before {
  content: "F";
}
.icon-ape-history:before {
  content: "i";
}
.icon-ape-home:before {
  content: "h";
}
.icon-ape-hr:before {
  content: "H";
}
.icon-ape-identity:before {
  content: "I";
}
.icon-ape-lock:before {
  content: "l";
}
.icon-ape-mail:before {
  content: "m";
}
.icon-ape-na:before {
  content: "w";
}
.icon-ape-no:before {
  content: "n";
}
.icon-ape-password:before {
  content: "p";
}
.icon-ape-pending-creation:before {
  content: "c";
}
.icon-ape-pending-deletion:before {
  content: "d";
}
.icon-ape-person:before {
  content: "P";
}
.icon-ape-print:before {
  content: "x";
}
.icon-ape-student:before {
  content: "S";
}
.icon-ape-sync:before {
  content: "s";
}
.icon-ape-yes:before {
  content: "y";
}

/*  
 * Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
 * readers do not read off random characters that represent icons 
 */
.icon-glass,
.icon-music,
.icon-search,
.icon-envelope,
.icon-heart,
.icon-star,
.icon-star-empty,
.icon-user,
.icon-film,
.icon-th-large,
.icon-th,
.icon-th-list,
.icon-ok,
.icon-remove,
.icon-zoom-in,
.icon-zoom-out,
.icon-off,
.icon-signal,
.icon-cog,
.icon-tras,
.icon-home,
.icon-filed,
.icon-time,
.icon-road,
.icon-download-alt,
.icon-download,
.icon-upload,
.icon-inbox,
.icon-play-circle,
.icon-repeat,
.icon-refresh,
.icon-list-alt,
.icon-lock,
.icon-flag,
.icon-headphones,
.icon-volume-off,
.icon-volume-down,
.icon-volume-up,
.icon-qrcode,
.icon-barcode,
.icon-tag,
.icon-tags,
.icon-book,
.icon-bookmark,
.icon-print,
.icon-camera,
.icon-font,
.icon-bold,
.icon-italic,
.icon-text-height,
.icon-text-width,
.icon-align-left,
.icon-align-center,
.icon-align-right,
.icon-align-justify,
.icon-list,
.icon-indent-left,
.icon-indent-right,
.icon-facetime-video,
.icon-picture,
.icon-pencil,
.icon-map-marker,
.icon-adjust,
.icon-tint,
.icon-edit,
.icon-share,
.icon-check,
.icon-move,
.icon-step-backward,
.icon-fast-backward,
.icon-backward,
.icon-play,
.icon-paused,
.icon-stop,
.icon-forward,
.icon-fast-forward,
.icon-step-forward,
.icon-eject,
.icon-chevron-left,
.icon-chevron-right,
.icon-plus-sign,
.icon-minus-sign,
.icon-remove-sign,
.icon-ok-sign,
.icon-question-sign,
.icon-info-sign,
.icon-screenshot,
.icon-remove-circle,
.icon-ok-circle,
.icon-ban-circle,
.icon-arrow-left,
.icon-arrow-right,
.icon-arrow-up,
.icon-arrow-down,
.icon-share-alt,
.icon-resize-full,
.icon-resize-small,
.icon-plus,
.icon-minus,
.icon-asterisk,
.icon-exclamation-sign,
.icon-gift,
.icon-leaf,
.icon-fire,
.icon-eye-open,
.icon-eye-close,
.icon-warning-sign,
.icon-plane,
.icon-calendar,
.icon-random,
.icon-comment,
.icon-magnet,
.icon-chevron-up,
.icon-chevron-down,
.icon-retweet,
.icon-shopping-cart,
.icon-folder-close,
.icon-folder-open,
.icon-resize-vertical,
.icon-resize-horizontal,
.icon-bar-chart,
.icon-twitter-sign,
.icon-facebook-sign,
.icon-camera-retro,
.icon-key,
.icon-cogs,
.icon-comments,
.icon-thumbs-up,
.icon-thumbs-down,
.icon-star-half,
.icon-heart-empty,
.icon-signout,
.icon-linkedin-sign,
.icon-pushpin,
.icon-external-link,
.icon-signin,
.icon-trophy,
.icon-github-sign,
.icon-upload-alt,
.icon-lemon,
.icon-phone,
.icon-check-empty,
.icon-bookmark-empty,
.icon-phone-sign,
.icon-twitter,
.icon-facebook,
.icon-github,
.icon-unlock,
.icon-credit-card,
.icon-rss,
.icon-hdd,
.icon-bullhorn,
.icon-bell,
.icon-certificate,
.icon-hand-right,
.icon-hand-left,
.icon-hand-up,
.icon-hand-down,
.icon-circle-arrow-left,
.icon-circle-arrow-right,
.icon-circle-arrow-up,
.icon-circle-arrow-down,
.icon-globe,
.icon-wrench,
.icon-tasks,
.icon-filter,
.icon-briefcase,
.icon-fullscreen,
.icon-group,
.icon-link,
.icon-cloud,
.icon-beaker,
.icon-cut,
.icon-copy,
.icon-paper-clip,
.icon-save,
.icon-sign-blank,
.icon-reorder,
.icon-list-ul,
.icon-list-ol,
.icon-strikethrough,
.icon-underline,
.icon-table,
.icon-magic,
.icon-truck,
.icon-pinterest,
.icon-pinterest-sign,
.icon-google-plus-sign,
.icon-google-plus,
.icon-money,
.icon-caret-down,
.icon-caret-up,
.icon-caret-left,
.icon-caret-right,
.icon-columns,
.icon-sort,
.icon-sort-down,
.icon-sort-up,
.icon-envelope-alt,
.icon-linkedin,
.icon-undo,
.icon-legal,
.icon-dashboard,
.icon-comment-alt,
.icon-comments-alt,
.icon-bolt,
.icon-sitemap,
.icon-umbrella,
.icon-paste,
.icon-user-md {
  font-family: 'FontAwesome';
  font-weight: normal;
}

.icon-glass:before                { content: "\f000"; }
.icon-music:before                { content: "\f001"; }
.icon-search:before               { content: "\f002"; }
.icon-envelope:before             { content: "\f003"; }
.icon-heart:before                { content: "\f004"; }
.icon-star:before                 { content: "\f005"; }
.icon-star-empty:before           { content: "\f006"; }
.icon-user:before                 { content: "\f007"; }
.icon-film:before                 { content: "\f008"; }
.icon-th-large:before             { content: "\f009"; }
.icon-th:before                   { content: "\f00a"; }
.icon-th-list:before              { content: "\f00b"; }
.icon-ok:before                   { content: "\f00c"; }
.icon-remove:before               { content: "\f00d"; }
.icon-zoom-in:before              { content: "\f00e"; }

.icon-zoom-out:before             { content: "\f010"; }
.icon-off:before                  { content: "\f011"; }
.icon-signal:before               { content: "\f012"; }
.icon-cog:before                  { content: "\f013"; }
.icon-trash:before                { content: "\f014"; }
.icon-home:before                 { content: "\f015"; }
.icon-file:before                 { content: "\f016"; }
.icon-time:before                 { content: "\f017"; }
.icon-road:before                 { content: "\f018"; }
.icon-download-alt:before         { content: "\f019"; }
.icon-download:before             { content: "\f01a"; }
.icon-upload:before               { content: "\f01b"; }
.icon-inbox:before                { content: "\f01c"; }
.icon-play-circle:before          { content: "\f01d"; }
.icon-repeat:before               { content: "\f01e"; }

/* \f020 doesn't work in Safari. all shifted one down */
.icon-refresh:before              { content: "\f021"; }
.icon-list-alt:before             { content: "\f022"; }
.icon-lock:before                 { content: "\f023"; }
.icon-flag:before                 { content: "\f024"; }
.icon-headphones:before           { content: "\f025"; }
.icon-volume-off:before           { content: "\f026"; }
.icon-volume-down:before          { content: "\f027"; }
.icon-volume-up:before            { content: "\f028"; }
.icon-qrcode:before               { content: "\f029"; }
.icon-barcode:before              { content: "\f02a"; }
.icon-tag:before                  { content: "\f02b"; }
.icon-tags:before                 { content: "\f02c"; }
.icon-book:before                 { content: "\f02d"; }
.icon-bookmark:before             { content: "\f02e"; }
.icon-print:before                { content: "\f02f"; }

.icon-camera:before               { content: "\f030"; }
.icon-font:before                 { content: "\f031"; }
.icon-bold:before                 { content: "\f032"; }
.icon-italic:before               { content: "\f033"; }
.icon-text-height:before          { content: "\f034"; }
.icon-text-width:before           { content: "\f035"; }
.icon-align-left:before           { content: "\f036"; }
.icon-align-center:before         { content: "\f037"; }
.icon-align-right:before          { content: "\f038"; }
.icon-align-justify:before        { content: "\f039"; }
.icon-list:before                 { content: "\f03a"; }
.icon-indent-left:before          { content: "\f03b"; }
.icon-indent-right:before         { content: "\f03c"; }
.icon-facetime-video:before       { content: "\f03d"; }
.icon-picture:before              { content: "\f03e"; }

.icon-pencil:before               { content: "\f040"; }
.icon-map-marker:before           { content: "\f041"; }
.icon-adjust:before               { content: "\f042"; }
.icon-tint:before                 { content: "\f043"; }
.icon-edit:before                 { content: "\f044"; }
.icon-share:before                { content: "\f045"; }
.icon-check:before                { content: "\f046"; }
.icon-move:before                 { content: "\f047"; }
.icon-step-backward:before        { content: "\f048"; }
.icon-fast-backward:before        { content: "\f049"; }
.icon-backward:before             { content: "\f04a"; }
.icon-play:before                 { content: "\f04b"; }
.icon-pause:before                { content: "\f04c"; }
.icon-stop:before                 { content: "\f04d"; }
.icon-forward:before              { content: "\f04e"; }

.icon-fast-forward:before         { content: "\f050"; }
.icon-step-forward:before         { content: "\f051"; }
.icon-eject:before                { content: "\f052"; }
.icon-chevron-left:before         { content: "\f053"; }
.icon-chevron-right:before        { content: "\f054"; }
.icon-plus-sign:before            { content: "\f055"; }
.icon-minus-sign:before           { content: "\f056"; }
.icon-remove-sign:before          { content: "\f057"; }
.icon-ok-sign:before              { content: "\f058"; }
.icon-question-sign:before        { content: "\f059"; }
.icon-info-sign:before            { content: "\f05a"; }
.icon-screenshot:before           { content: "\f05b"; }
.icon-remove-circle:before        { content: "\f05c"; }
.icon-ok-circle:before            { content: "\f05d"; }
.icon-ban-circle:before           { content: "\f05e"; }

.icon-arrow-left:before           { content: "\f060"; }
.icon-arrow-right:before          { content: "\f061"; }
.icon-arrow-up:before             { content: "\f062"; }
.icon-arrow-down:before           { content: "\f063"; }
.icon-share-alt:before            { content: "\f064"; }
.icon-resize-full:before          { content: "\f065"; }
.icon-resize-small:before         { content: "\f066"; }
.icon-plus:before                 { content: "\f067"; }
.icon-minus:before                { content: "\f068"; }
.icon-asterisk:before             { content: "\f069"; }
.icon-exclamation-sign:before     { content: "\f06a"; }
.icon-gift:before                 { content: "\f06b"; }
.icon-leaf:before                 { content: "\f06c"; }
.icon-fire:before                 { content: "\f06d"; }
.icon-eye-open:before             { content: "\f06e"; }

.icon-eye-close:before            { content: "\f070"; }
.icon-warning-sign:before         { content: "\f071"; }
.icon-plane:before                { content: "\f072"; }
.icon-calendar:before             { content: "\f073"; }
.icon-random:before               { content: "\f074"; }
.icon-comment:before              { content: "\f075"; }
.icon-magnet:before               { content: "\f076"; }
.icon-chevron-up:before           { content: "\f077"; }
.icon-chevron-down:before         { content: "\f078"; }
.icon-retweet:before              { content: "\f079"; }
.icon-shopping-cart:before        { content: "\f07a"; }
.icon-folder-close:before         { content: "\f07b"; }
.icon-folder-open:before          { content: "\f07c"; }
.icon-resize-vertical:before      { content: "\f07d"; }
.icon-resize-horizontal:before    { content: "\f07e"; }

.icon-bar-chart:before            { content: "\f080"; }
.icon-twitter-sign:before         { content: "\f081"; }
.icon-facebook-sign:before        { content: "\f082"; }
.icon-camera-retro:before         { content: "\f083"; }
.icon-key:before                  { content: "\f084"; }
.icon-cogs:before                 { content: "\f085"; }
.icon-comments:before             { content: "\f086"; }
.icon-thumbs-up:before            { content: "\f087"; }
.icon-thumbs-down:before          { content: "\f088"; }
.icon-star-half:before            { content: "\f089"; }
.icon-heart-empty:before          { content: "\f08a"; }
.icon-signout:before              { content: "\f08b"; }
.icon-linkedin-sign:before        { content: "\f08c"; }
.icon-pushpin:before              { content: "\f08d"; }
.icon-external-link:before        { content: "\f08e"; }

.icon-signin:before               { content: "\f090"; }
.icon-trophy:before               { content: "\f091"; }
.icon-github-sign:before          { content: "\f092"; }
.icon-upload-alt:before           { content: "\f093"; }
.icon-lemon:before                { content: "\f094"; }
.icon-phone:before                { content: "\f095"; }
.icon-check-empty:before          { content: "\f096"; }
.icon-bookmark-empty:before       { content: "\f097"; }
.icon-phone-sign:before           { content: "\f098"; }
.icon-twitter:before              { content: "\f099"; }
.icon-facebook:before             { content: "\f09a"; }
.icon-github:before               { content: "\f09b"; }
.icon-unlock:before               { content: "\f09c"; }
.icon-credit-card:before          { content: "\f09d"; }
.icon-rss:before                  { content: "\f09e"; }

.icon-hdd:before                  { content: "\f0a0"; }
.icon-bullhorn:before             { content: "\f0a1"; }
.icon-bell:before                 { content: "\f0a2"; }
.icon-certificate:before          { content: "\f0a3"; }
.icon-hand-right:before           { content: "\f0a4"; }
.icon-hand-left:before            { content: "\f0a5"; }
.icon-hand-up:before              { content: "\f0a6"; }
.icon-hand-down:before            { content: "\f0a7"; }
.icon-circle-arrow-left:before    { content: "\f0a8"; }
.icon-circle-arrow-right:before   { content: "\f0a9"; }
.icon-circle-arrow-up:before      { content: "\f0aa"; }
.icon-circle-arrow-down:before    { content: "\f0ab"; }
.icon-globe:before                { content: "\f0ac"; }
.icon-wrench:before               { content: "\f0ad"; }
.icon-tasks:before                { content: "\f0ae"; }

.icon-filter:before               { content: "\f0b0"; }
.icon-briefcase:before            { content: "\f0b1"; }
.icon-fullscreen:before           { content: "\f0b2"; }

.icon-group:before                { content: "\f0c0"; }
.icon-link:before                 { content: "\f0c1"; }
.icon-cloud:before                { content: "\f0c2"; }
.icon-beaker:before               { content: "\f0c3"; }
.icon-cut:before                  { content: "\f0c4"; }
.icon-copy:before                 { content: "\f0c5"; }
.icon-paper-clip:before           { content: "\f0c6"; }
.icon-save:before                 { content: "\f0c7"; }
.icon-sign-blank:before           { content: "\f0c8"; }
.icon-reorder:before              { content: "\f0c9"; }
.icon-list-ul:before              { content: "\f0ca"; }
.icon-list-ol:before              { content: "\f0cb"; }
.icon-strikethrough:before        { content: "\f0cc"; }
.icon-underline:before            { content: "\f0cd"; }
.icon-table:before                { content: "\f0ce"; }

.icon-magic:before                { content: "\f0d0"; }
.icon-truck:before                { content: "\f0d1"; }
.icon-pinterest:before            { content: "\f0d2"; }
.icon-pinterest-sign:before       { content: "\f0d3"; }
.icon-google-plus-sign:before     { content: "\f0d4"; }
.icon-google-plus:before          { content: "\f0d5"; }
.icon-money:before                { content: "\f0d6"; }
.icon-caret-down:before           { content: "\f0d7"; }
.icon-caret-up:before             { content: "\f0d8"; }
.icon-caret-left:before           { content: "\f0d9"; }
.icon-caret-right:before          { content: "\f0da"; }
.icon-columns:before              { content: "\f0db"; }
.icon-sort:before                 { content: "\f0dc"; }
.icon-sort-down:before            { content: "\f0dd"; }
.icon-sort-up:before              { content: "\f0de"; }

.icon-envelope-alt:before         { content: "\f0e0"; }
.icon-linkedin:before             { content: "\f0e1"; }
.icon-undo:before                 { content: "\f0e2"; }
.icon-legal:before                { content: "\f0e3"; }
.icon-dashboard:before            { content: "\f0e4"; }
.icon-comment-alt:before          { content: "\f0e5"; }
.icon-comments-alt:before         { content: "\f0e6"; }
.icon-bolt:before                 { content: "\f0e7"; }
.icon-sitemap:before              { content: "\f0e8"; }
.icon-umbrella:before             { content: "\f0e9"; }
.icon-paste:before                { content: "\f0ea"; }

.icon-user-md:before              { content: "\f200"; }
