.striped{
	background-color: #F9F9F9;
}
.person{
	padding: 8px;
	border-top: 1px solid #DDD;
}
.add{
	padding-bottom: 6px;
	margin-left: 30%;
}
.remove{
	margin-left: 15%;
	padding-bottom: 6px;
}
.name{
	position:absolute;
}
.new span{
	display: block;
}
.new button{
	display: block;
}
.old ul{
	list-style-type: none;
}
