html, body{
	background-color: #f6b1c3;
	background-image: url(themes/apple-blossom/images/bg.png);
	background-repeat: repeat-x;
	color: #000;
}

#page{
	background-image: url(themes/apple-blossom/images/flowers.png);
	background-repeat: no-repeat;
	background-position: top center;
}

#page-inner{
	background-image: none;
	background-repeat: no-repeat;
	background-position: top right;
}

#webapp-head{
	background-image: url(themes/apple-blossom/images/header_bg.png);
	background-color: #ffd1dd;
	border-bottom: none;
}

#webapp-head .container{
	background-image: none;
	background-repeat: no-repeat;
	background-position: top center;
}

.webapp-head h1,
.webapp-head h1 a{ color: #000; }

.webapp-head h1.myplymouth_logo{
	background-image: url(themes/apple-blossom/images/my_logo.png);
	background-repeat: none;
	width: 337px;
	height: 115px;
	margin-left: 0px;
	text-indent: -9999px;
}

.webapp-head .psu_logo{ 
	background-image: url(themes/apple-blossom/images/psulogo_header.png);
	width: 160px;
	height: 52px;
	margin-top: 25px;
}

.fluid #webapp-nav,
#webapp-nav{
	background-color: transparent;
	background-image: url(themes/apple-blossom/images/nav_bg.png);
	background-repeat: repeat;
	border-bottom: 1px solid #eeb3c3;
	border-top: 1px solid #c3929e;
	height: auto;
}

#webapp-nav .container{
	background-image: none;
	background-repeat: none;
}

#webapp-nav .webapp-nav{
	background-color: transparent;
	background-image: none;
	color: #000;
	font-family: Verdana, Arial, Sans-Serif;
}

.webapp-nav a{ color: #6b444e; }

.webapp-nav > ul > li { padding-top: 0.3em; }

.webapp-nav ul > li > .parent-hover,
.webapp-nav a.active,
.webapp-nav a:hover {
	background: transparent;
	color: #000;
}

.webapp-nav .selected a,
.webapp-nav .selected a:hover{
	color: #fff;
}

.webapp-nav ul > li ul a{
	border-color: #dd9dae;
}

#webapp-avant-body{
	background-color: transparent;
	background-image: none;
	background-repeat: repeat-x;
	border-top: none;
}

.webapp-avant-body .message-container{margin-bottom: 0; margin-top: 0;}

#webapp-body{
	background-color: transparent;
	background-image: none;
	background-repeat: repeat-x;
	padding-top: 1em;
}

#webapp-avant-body .container,
#webapp-apres-body .container,
#webapp-avant-foot .container,
#webapp-foot .container,
#webapp-apres-foot .container,
#webapp-body > .container{
	background-image: none;
}

.fluid #webapp-avant-body, .fluid #webapp-body, .fluid #webapp-apres-body, .fluid #webapp-foot {
	background: transparent;
}

#webapp-foot,
#webapp-apres-foot{
	background-color: transparent;
}

.box > .title, .box > .subheader, .box > .body, .box > .foot {
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	border-top: 0;
}

.border-box{
	background-color: transparent;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat-x;
}

.border-box > .box-inner{}

.border-box > .title{
	background-color: #dd9dae;
	background-image: none;
	background-position: top left;
	background-repeat: no-repeat;
	border-bottom: 1px solid #c3929e;

	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	-webkit-border-top-left-radius: 0.5em;
	-webkit-border-top-right-radius: 0.5em;
	-moz-border-radius-topleft: 0.5em;
	-moz-border-radius-topright: 0.5em;
}

.border-box > .title .box-inner{
	background-image: none;
}

.border-box > .title h2{}

.border-box > .title,
.border-box > .title h2,
.border-box > .title h2 a,
.border-box > .title a{
	color: #fff;
	font-size: 1.1em;
}

.box > .title, .box > .subheader, .box > .body, .box > .foot{
	border-right: none;
}

.box > .title h2 .section-title{ color: #fff; }

.border-box > .subheader{}

.border-box > .body{
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	-webkit-border-bottom-left-radius: 0.5em;
	-webkit-border-bottom-right-radius: 0.5em;
	-moz-border-radius-bottomleft: 0.5em;
	-moz-border-radius-bottomright: 0.5em;
}

.clear-box > .title h2,
.clear-box > .title h2 a{
	color: #000;
}

.clear-box > .title .box-inner{
	border-color: #000;
}

.clear-box > .subheader .box-inner{ color: #c3929e; }

#go-sidebar .go-profile .body{
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	-webkit-border-top-left-radius: 0.5em;
	-webkit-border-top-right-radius: 0.5em;
	-moz-border-radius-topleft: 0.5em;
	-moz-border-radius-topright: 0.5em;
}

#go-sidebar .widget{
	border-bottom: 1px solid #c08997;
}

#go-sidebar .widget .title{
	background-color: #dd9dae;
	background-image: none;
}

#go-sidebar .widget .body{
	background-color: #fff;
}

#webapp-body #go-sidebar .widget ul.popular-tabs{
	background-color: #c08997;
	border-top: none;
}

#go-sidebar .border-box > .title .box-inner{
	background-image: none;
	height: auto;
	padding-top: 0.3em;
}

#go-sidebar .widget .body{
	border-color: #c08997;
}

.webapp-foot a{color: #555;}

#webapp-apres-foot{
	background-image: url(themes/apple-blossom/images/header_bg.png);
	background-color: none;
	background-repeat: repeat;
	border-top: 1px solid #c08997;
}

#webapp-apres-foot a:hover{ color: #fff; }

#webapp-apres-foot h3{
	color: #000;
	border-bottom: 1px solid #c3929e;
}

#webapp-apres-foot #foot-logo-column .logo{
	background-image: url(themes/apple-blossom/images/psulogo.png);
}

.webapp-apres-foot a {
	color: #333;
}
#webapp-apres-foot .webapp-apres-foot a.active,
#webapp-apres-foot .webapp-apres-foot a:hover {
	color: #000;
}

#webapp-final {
	background-image: url(themes/apple-blossom/images/nav_bg.png);
	background-repeat: repeat;
}

#webapp-final #foot-copy,
#webapp-final #foot-address {
	color: #333;
}

#return-to-top  {
	background: #fff;
	color: #000;
	top: 0;
}

.message-warnings a,
.message-successes a {
	color: #fff;
	text-decoration: underline;
}
