@import url("checklists.css");
/* Default */

.icon{vertical-align: middle;}
/******************* Header **************************/
#outer-header{
	border-bottom: 1px solid #BFBEA3;
	height:75px;
	position:relative;
}
#header-left-side{
	background: none;
	min-width:450px;
}
.header-div{color:#85360f;font-size:1.0em;}
.header-left{
	float: none;
	font-size: 1.9em;
}
.header-right{
	float: none;
}
#tlc_nav_list{
	margin: 0;
	padding: 0;
	position:relative;
	bottom: 0px;
	right: 0px;
	text-align: left;
}
#tlc_nav_list li a,#tlc_nav_list li a:link,#tlc_nav_list li a:visited{
	background: none;
	border: none;
	color: #2893D5;
	font-size: 1.0em;
}

#tlc_nav_list a:hover{
	background: none;
}

/******************* Body **************************/
#new-call-table{
	border: none;
}
#main-open-calls{
	padding:3px;
	position:relative;
}
#main-section{
	position:relative;
}
#main-helpdesk-news{
	position:relative;
}

#main-table-right, .no-border, #my_options_table{
	border:1px solid #BFBEA3;
}

.helpdesk_news{
	color: #89936F;
}
.helpdesk_news a{color:#A66240;}

.nav_link{
	margin:1px;
}
.open_calls{
	display: block;
	padding-bottom: 0.2em;
	padding-top: 0.2em;
	border-bottom: 1px solid #ddd;
}
.page_nav_link_last a,a{
	color:#2893D5;
	text-decoration: none;
}

#new-call-user-left-col{
	background: none;
	border: none;
}

#new-call-user-middle-col{
	background: none;
	border: none;
}

#new-call-user-right-col{
	background: none;
	border: none;
}

#caller_information_outer_div,
#hardware_info_outer_div,
#caller_history_outer_div,
#caller_media_outer_div,
#problem_details_outer_div,
#knowledgebase_outer_div,
#call_assignment_history_div,
#call_information_outer_div,
#assigned_to_outer_div,
#user_quota_outer_div,
#user_status_outer_div,
#dashboard_outer_div,
#restore_request_outer_div,
#cluster_printers_outer_div,
#call_assignment_history_reorder,
.content-info-main .content-info,
.content-info,
.main-table-properties,
.block{
	border:1px solid #BFBEA3;
	margin-bottom: 5px;
}

#call_assignment_history_div {
	text-align: left;
}

.block{
	padding: 5px;
	margin: 0 5px 5px 5px;
}

.new-call-user-table-inside{
	background:none;
}

#submit_reset{
	border: 1px solid #BFBEA3;
}
td.call-age-status-old{
	background-color: #f3cccc !important;
	border-color: #bfa3a3;
}
td.activity-age-status-old{
	background-color: #f3cccc !important;
	border-color: #bfa3a3;
}

.content-info-top, .content_highlight{
	border: 1px solid #4a5236;
}
#re-order-div{color:#85360F;}

.label{color: #77825A;}
.label em{color:#A66240;}

#submit_reset{
	padding:3px;
}	

a.action:link, a.action:visited, a.action:active, input.action {
	background:#fff;
	border:1px solid #BFBEA3;
}

#call_assignment_history_inner_div label{
	color: #000;
}	

#call_assignment_history_inner_div label em{
	font-weight: bold;
	font-style: normal;
	margin-right: 5px;
}

.average-open-time{
	color: #999;
}

