php_value auto_prepend_file /web/pscpages/webapp/academic-excellence/common.php
php_value auto_append_file none

RewriteEngine on
RewriteBase /webapp/academic-excellence/
RewriteRule ^aeconfirm_([0-9]{6}).csv csv.php?term=$1 [L]
