.myplymouth .webapp-head h1 a {
	background: url(themes/lgbtq/images/my_logo.png?v=1) no-repeat center center;
	display: block;
	height: 77px;
	left: -12px;
	position: relative;
	text-indent: -9999999px;
	width: 412px;
}
